/*Global*/

::-webkit-scrollbar {
    width: 10px;
    background: rgba(22, 22, 22, 0.7);
  }
  
  ::-webkit-scrollbar-track {
    background: #e2b024; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136); 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e2b024; 
  }
  body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(22, 22, 22, 0.7);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #e2b024;  
    border-radius: 20px;     
    height: 10%;
    border: 1vw solid #e2b024  
  }
  

input {
    border: white solid 0.4vh;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5vw;
    
}

label {
    all: unset;
    height: 6vh;
    display: flex;
    align-items: center;
}

button {
    font-size: 1.5vw;
    width: 9vw;
    height: 7vh;

}

input {
    width: 25.8vw;
    margin-bottom: 1.4vw;
}


.imgFundo {
    width: 55vw;
}

.imgLogo {
    margin-left: 2vw;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35vw;
    height: 12vh;
}

.info {
    display: flex;
    flex-direction: column;
}

.esqueceSenha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 2vh;
}

.logar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    margin-top: 5vh;
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 90%;
}
/*--------------------------------------------------------------------------------------------------------*/
/*Texto*/
.titulo {
    font-size: 3vw;
    text-decoration: 0.2vw underline;
    font-weight: bold;
}

.subTitulo {
    font-weight: bold;
}

/*--------------------------------------------------------------------------------------------------------*/
/*Tela Login*/

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0,0, 1);
}


.login .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 80vh;
    background-color: rgba(24, 25, 26, 1);
}


.login .espaco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28vw;
    height: 60vh;
}

/*--------------------------------------------------------------------------------------------------------*/
/*Tela Cadastro*/

.cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
}

.cadastro .espaco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28vw;
    height: 68vh;
}

.cadastro .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 90vh;
    background-color: rgba(24, 25, 26, 1);
}
.cadastro .tela{
    height: 95%;
    
}

.cadastro .botao{
    width: 15vw;
}

/*--------------------------------------------------------------------------------------------------------*/
/*Tela Dados*/

.dados {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 1);
}

.dados .espaco {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 28vw;
    height: 70vh;
}

.dados .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 95vh;
    background-color: rgba(24, 25, 26, 1);
}
.dados .tela{
    height: 95%;
    
}
.dados .titulo{
    font-size: 2.0vw;
    margin-bottom: 4vh;
}

.dados .subTexto{
    font-size: 0.8vw;
}

.dadosPessoais{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.dados input{
    width: 40%;
}

.dados button{
    font-size: 1.2vw;
}

.dados .botao{
    width: 15vw;
    margin-top: 3vh;
}

/*--------------------------------------------------------------------------------------------------------*/
/*CheckBox*/

.container {
    width: 30%;
    height: 100%;
    display: block;
    position: relative;
    padding-left: 2vw;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3vw;
    width: 1.3vw;
    background-color: rgb(73, 73, 73);
}


.container:hover input~.checkmark {
    background-color: #ccc;
}


.container input:checked~.checkmark {
    background-color:#e2b024;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked~.checkmark:after {
    display: block;
}


.container .checkmark:after {
    left: 0.30vw;
    width: 0.5vw;
    height: 0.7vw;
    border: solid white;
    border-width: 0 0.2vw 0.2vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}