@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    font-family: Cinzel, "Regular";
}

.container{
    width: 75%;
    align-items: center;
}
.poppins{
    font-family: Poppins, "Regular";
}
.txt-branco{
    color: #FFF;
}
.txt-amarelo{
    color: #E2B024;
}
.fundo-amarelo{
    background-color: #E2B024;
}

.txt-cinza{
    color: #18191A;
}

.fundo-cinza{
    background-color: #18191A;
}

.txt-preto{
    color: black;
}
.fundo-preto{
    background-color: black;
}

.img-fundo-vinhos{
    background-image: url(../Assets/img/fundo.png);
    width: 100%;
}

/* .elipse{
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    position: absolute;
    width: 374px;
    height: 374px;
    left: 1137px;
    top: 1300px;

    background-color: #E2B024;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vetor1{
    position: absolute;
    width: 567.5px;
    height: 206px;
    left: 1037.5px;
 
    border: 10px solid #E2B024;
}
.vetor3{
    position: absolute;
    width: 567.5px;
    height: 206px;
    left: 1037.5px;
    top: 1500px;

    border: 10px solid #E2B024;
    transform: rotate(-180deg);
} */